@charset "UTF-8";
/*!
* www.dereksalmon.me V0.1 (12/12/16) @author: Pixelcraf, Derek Salmon
* Licence TODO WTFPL http://www.wtfpl.net/
*/
/* ----------------------------- */
/* ==Table Of Content            */
/* ----------------------------- */
/* @todo
/* 1- Mentions */
/* 2- Base styles */
/* 3- Blocs and Misc */
/* 4- Header */
/* 5- Main */
/* 6- Sidebar */
/* 7- Contact */
/* 8- Footer */

/*------------------------------------------------------------------
Color codes]
Black:   #000
White:   #FFFFF
White:   #FFFFF
White:   #FFFFF
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]
Body copy:		1.2em/1.6em Verdana, Helvetica, Arial, Geneva, sans-serif;
Headers:		2.7em/1.3em Helvetica, Arial, "Lucida Sans Unicode", Verdana, sans-serif;
Input, textarea:	1.1em Helvetica, Verdana, Geneva, Arial, sans-serif;
Sidebar heading:	1.5em Helvetica, Trebuchet MS, Arial, sans-serif;

Notes:	decreasing heading by 0.4em with every subsequent heading level
-------------------------------------------------------------------
-------------------------------------------------------------------
-------------------------------------------------------------------*/


/*  ==========================================================================
    Structure
 ========================================================================== */



 /*  ==========================================================================
     Header
 ========================================================================== */



 /*  ==========================================================================
     Content
 ========================================================================== */


 /*  ==========================================================================
     Footer
 ========================================================================== */



 /*  ==========================================================================
     Helper
 ========================================================================== */



 /* ==========================================================================
     Print styles
 ========================================================================== */
